* {
    margin: 0px;
    padding: 0px;
}

.header {
    text-align: center;
    background-color: rgb(76, 6, 111);
    color: white;
    padding: 40px;
    font-size: x-large;
}

.main {
    display: flex;
}

.a1 {
    flex-grow: 1;
}

.a1 li{
    background-color: rgb(165, 80, 207);
    color: white;
    margin: 5px;
    padding: 5px;
    padding-right: 0;
    overflow-wrap: normal;
}

.a1 li:hover{
    background-color: rgb(79, 19, 111);
    color: rgb(165, 80, 207);
}

.a2 {
    flex-grow: 3;
    margin: 10px;
    
}



.a2 .menu li{
    
    display: inline-block;
    background-color: rgb(165, 80, 207);
    color: rgb(79, 19, 111);
    border: 2px solid lightgrey;
    border-radius: 10px;
    text-wrap-mode: nowrap;
    padding: 5px;
    transform: rotate(180);
    box-shadow: 0 5px 5px -2px black;
}

.a2 .content{
    position: relative;
    width: 600px;
    margin: 30px;
}

.a2 .content .default img{
    position: absolute;
    width: 100%;
}

.a3 {
    flex-grow: 1;
    background-color: rgb(165, 80, 207);
}

.a3 h3{
    color: white;
    text-align: center;
    padding: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.a3 .jobs{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    align-content: flex-start;
}

.a3 .jobs div.item{
    width: 200px;
    padding: 10px;
}

.a3 .jobs .item div{

    border: 3px solid rgb(119, 78, 139);
    border-top-right-radius: 25px;
    color: white;
    

}

.a3 .jobs .item p{
    color: white;
    padding: 10px;
}

.a3 .jobs .item p.pay{
    color: white;
    padding: 10px;
    text-align: right;
}

.a3 .jobs .item div p{

    text-align: center;
    font-size: medium;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;

}

.a3 .jobs .item div h4{

    font-size: large;
    width: 80%;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
}

.a3 .jobs .item div h4.red{

    background-color: rgb(143, 6, 6);
}

.a3 .jobs .item div h4.green{

    background-color: rgb(153, 248, 58);
    color: black;

}

