
* {
    margin: 0px;
    padding: 0px;
    background-color: rgb(29, 28, 28);
    color: #007e00;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    margin: 2.5%;

}

.header img{
    position: absolute;
    width: 10%;

}

.header h1{
    text-align: center;
    position: static;
    font-size: 300%;
    padding: 2.5%;
    
}

.menu {
    margin: 2.5%;
    
}

.menu ul{
    
    float: left;
    list-style: none;
    width: 100%;
    
    
}

.menu li{
    color: rgb(5, 128, 99);
    padding: 1%;
    padding-left: 2%;
    padding-right: 2%;
    margin-left: 1%;
    background-color: rgb(54, 54, 54) !important;
    border: 5px outset rgb(103, 102, 102) ;
    float: left;
    border-radius: 10px;
    font-size: larger;
    
}

.menu a{
    background-color: rgba(54, 54, 54, 0);
    color: rgb(5, 128, 99);
}

.menu li:hover{
    background-color: rebeccapurple !important;
}

.aside1{
    margin: 1.5%;
    top: 20px;
    float: left;
}

img.aside1{
    padding: 1%;
    width: 20%;
    position: sticky;
}

.main{
    margin: 1.5%;
    
}

.main li{
    color: #7ff4a6 !important;
}

.main b{
    color: #7ff4a6 !important;
}

.main h2{
    color: #25934a !important;
}