
* {
    margin: 0px;
    padding: 0px;
    background-color: rgb(29, 28, 28);
    color: #007e00;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    margin: 2.5%;

}

.header img{
    position: absolute;
    width: 10%;

}

.header h1{
    text-align: center;
    position: static;
    font-size: 300%;
    padding: 2.5%;
    
}

.menu {
    margin: 2.5%;
    
}

.menu ul{
    
    float: left;
    list-style: none;
    width: 100%;
    
    
}

.menu li{
    color: rgb(5, 128, 99);
    padding: 1%;
    padding-left: 2%;
    padding-right: 2%;
    margin-left: 1%;
    background-color: rgb(54, 54, 54) !important;
    border: 5px outset rgb(103, 102, 102) ;
    float: left;
    border-radius: 10px;
    font-size: larger;
    
}

.menu a{
    background-color: rgba(54, 54, 54, 0);
    color: rgb(5, 128, 99);
}

.menu li:hover{
    background-color: rebeccapurple !important;
}

.aside1{
    margin: 1.5%;
    margin-left: 0%;

}

img.aside1{
    width: 100%;
    position: sticky;
    top: 0px;
}

.main{
    margin: 1.5%;
    
}

.main ul{
    margin: 0.5%;
    padding-left: 25%;
}

.main li{
    color: #7ff4a6 !important;
}

.main b{
    color: #7ff4a6 !important;
}

.main h2{
    color: #25934a !important;

}

.aside2{
    padding: 1%;
    background-color: #7ff4a6;
}

.aside2 ol{
    margin: 2.5%;
    
    background-color: #7ff4a6;
}

.aside2 li{

    margin: 2.5%;
    padding-left: 3%;
    font-size: larger;
    color: #04d183;
    background-color: #2f6f45;
    list-style-position: inside;

}

.aside2 li span{
    background-color: #1e4a2d;
    margin-left: 5%;
    padding-left: 5%;
    padding-right: 5%;
    color: #04d183;
}

.containerleft{
    
    border: 3px cyan solid ;
    width: 20%;
    height: 1000px;
    margin: 2.5%;
    top: 20%;
    float: left;
}