
* {
    margin: 0px;
    padding: 0px;
    background-color: rgb(29, 28, 28);
    color: #007e00;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    margin: 2.5%;

}

.header img{
    position: absolute;
    width: 10%;

}

.header h1{
    text-align: center;
    position: static;
    font-size: 300%;
    padding: 2.5%;
    
}

.menu {
    margin: 2.5%;
    
}

.menu ul{
    
    float: left;
    list-style: none;
    width: 100%;
    
    
}

.menu li{
    color: rgb(5, 128, 99);
    padding: 1%;
    padding-left: 2%;
    padding-right: 2%;
    margin-left: 1%;
    background-color: rgb(54, 54, 54) !important;
    border: 5px outset rgb(103, 102, 102) ;
    float: left;
    border-radius: 10px;
    font-size: larger;
    
}

.menu a{
    background-color: rgba(54, 54, 54, 0);
    color: rgb(5, 128, 99);
    text-decoration: none;
}

.menu li:hover{
    background-color: rebeccapurple !important;
}

.aside1{
    margin: 1.5%;
    margin-left: 0%;

}

img.aside1{
    margin: 2.5%;
    width: 95%;
    position: sticky;
    top: 0px;
}

.main{
    margin: 1.5%;
}

.main ul{
    margin: 0.5%;
    padding-left: 26%;
}

.main ol{
    margin: 0.5%;
    padding-left: 26%;
}

.main li{
    color: #7ff4a6 !important;
}

.main b{
    color: #7ff4a6 !important;
}

.main h2{
    color: #25934a !important;

}

.aside2{
    padding: 1%;
    background-color: inherit;
}

.aside2 ol{
    margin: 2.5%;
    overflow: hidden;
    background-color: inherit;
}

.aside2 li{

    margin: 2.5%;
    padding-left: 3%;
    font-size: larger;
    color: #04d183;
    background-color: #2f6f45;
    list-style-position: inside;
    overflow: hidden;
}

.aside2 li span{
    background-color: #1e4a2d;
    margin-left: 5%;
    padding-left: 5%;
    padding-right: 5%;
    color: #04d183;
}

.containerleft{
    
    width: 20%;
    height: 100%;
    margin: 2.5%;
    top: 20%;
    float: left;
    background-color: #7ff4a6;
}

.containerright{
    width: 20%;
    height: 1000px;
    margin: 2.5%;
    top: 20%;
    float: right;
}

.aside3{
    margin: 0%;
    width: 100%;
    height: 100%px;
    background-color: rgb(200, 199, 199) !important;
    position: relative;
    overflow: auto;
}

.aside3 h2 {
    background-color: inherit;
}

.aside3 h2 b{
    background-color: inherit !important;
    margin: 2.5%;
}

.aside3 ul{
    background-color: inherit !important;
    margin: 0%;
    padding: 2.5%;
    
    list-style-position: inside;
}

.aside3 li{
    background-color: aquamarine;
    padding: 3%;
    font-size: larger;
    list-style-image: url('/favicons/checkboxsUnchecked.png');
    overflow: auto;
    color: red;
}

.aside3 li:nth-child(odd){
    background-color: rgb(111, 218, 182);
    font-size: larger;
}

.aside3 li.checked{
    background-color: lightgray;
    font-size: larger;
    list-style-image: url('/favicons/checkboxsChecked.png') !important; 
    overflow: auto;
}

.aside3 li.checked:nth-child(odd){
    background-color: rgb(169, 168, 168);
}

.aside3 li.checked span{
    text-decoration: line-through;
}

.aside3 li span{
    padding-left: 5%;
    padding-right: 5%;
    background-color: rgba(1, 1, 1, 0);
}

.containerright img{
    width: 100%;
    margin: 0;
}

.footer {
    background-color: rgb(0, 24, 19);
    width: 100%;
    height: 12%;
    position: fixed;
    bottom: 0%;
}

.menu2 {
    margin: 1%;
    width: 30%;
    height: 80%;
    background-color: rgb(54, 54, 54, 0) !important;
    display: inline-block;
}

.menu2 ul{
    background-color: inherit;
    display: block;
}

.menu2 li{
    color: rgb(5, 128, 99);
    padding: 1%;
    padding-left: 2%;
    padding-right: 2%;
    margin-left: 3%;
    background-color: rgb(54, 54, 54) !important;
    border: 5px outset rgb(103, 102, 102) ;
    float: left;
    border-radius: 10px;
    font-size: medium;
    list-style:none;
}

.menu2 a{
    background-color: rgba(54, 54, 54, 0);
    color: rgb(5, 128, 99);
    text-decoration: none;
}

.menu2 li:hover{
    background-color: rebeccapurple !important;
    text-decoration: underline;
} 

.network{
    width: 20%;
    height: 80%;
    margin: 1%;
    float: right;
    background-color: inherit;
}

.network ul{
    background-color: inherit;
}

.network li{
    padding: 1%;
    
    margin-left: 3%;
    width: 15%;
    height: 10%;
    background-color: rgb(54, 54, 54) !important;
    border: 5px outset rgb(103, 102, 102);
    list-style: none;
    display: inline-block;
}

.network li.discord:hover{
    background-color: rgb(88, 101, 242) !important;
}

.network li.steam:hover{
    background-color: rgb(23, 29, 37) !important;
}

.network li.redit:hover{
    background-color: rgb(253, 66, 0) !important;
}

.network img{
    width: 100%;
    background-color: inherit;
}

.network a{
    background-color: inherit;
}