
div{
    margin: 0.5%;
}


article:nth-of-type(1){
    background-color:  rgb(66,  37,  2);
}

article:nth-of-type(1) h2{
    color: rgb(245, 201, 147);
    font-style: italic;
}

article:nth-of-type(1) div{
    background-color: rgb(245, 201, 147);
    margin-left: 1%;
}

article:nth-of-type(1) div:hover{
    border: 3px red solid;
}

article:hover div:not(:hover){
    opacity: 0.5;
}

article:nth-of-type(1) div.task1:hover div{
    opacity: 1;
}

article:nth-of-type(1) div.task1 div{
    border: none;
    opacity: 0;
    background-color: rgb(228, 131, 13);
    border-radius: 20px;
    width: fit-content;
    padding: 0.5%;
    position: relative;
    
}

article:nth-of-type(1) div.task1 div::after{
    content: '';
	position:absolute;
	left: 10%;
	width: 0;
	height: 0;
    bottom: 0;
    border: 20px solid transparent;
    border-top-color: rgb(228, 131, 13);
	border-bottom: 0;
    margin-left: 0% ;
    margin-bottom: -5%;
}

article:nth-of-type(2){
    background-color: rgb(245, 201, 147);
}

article:nth-of-type(2) h3{
    font-style: italic;
    color: rgb(66,  37,  2);
}

article:nth-of-type(2) div{
    background-color: rgb(66,  37,  2);
    margin-left: 1%;
    color: rgb(245, 201, 147);
}

article:nth-of-type(2) div:hover{
    border: 3px pink dotted;
}