/* Mobile First - For mobile phones: */

/*[class*="col-"] {
  width: 100%;
}*/
.main{
  display: flex;
  flex-direction: column; /* Change direction to a column */
}

.right{
  display: flex;
  flex-direction: column; 
  padding: 5px;
  text-align: center;
}

[class*="col-"], .right h2{
  flex: 1;
}

.right h2{
  background-color: #4c096d;
  padding: 20px;
}


/* For desktop: */
/*@media only screen and (min-width: 768px) {
.col-1,.col-3 {width: 25%;}
.col-2 {width: 50%;}
}

[class*="col-"] {
  float: left;
  padding: 15px;
}*/

@media only screen and (min-width: 768px) {
  .main{
    display: flex;
    flex-direction: row; /* Aligns items horizontally on wider screens */
  }
  .col-1,.col-3 {flex: 0.25;}
  .col-2 {flex: 0.5;}

  .right{
    display: flex;
    flex-direction: row; /* Aligns items horizontally on wider screens */
    padding: 20px;
    text-align: center;
  }
  .right h2{
    flex:0.5;
    background-color: #4e4353;
  }


  }


* {
  box-sizing: border-box;

}

.header{
  background-color: #4c066f;
  color: #ffffff;
  padding: 15px;
  text-align: center;
}

.main::after {
  content: "";
  clear: both;
  display: block;
  }

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  padding: 5px;
  margin-bottom: 7px;
  background-color:#a550cf;
  color: #ffffff;
}

.menu li:hover {
  background-color: #4b1566;
}

.content {
  padding: 10px;
  text-align: justify;
  color:  #4b1566;
}

.right {
  background-color:#a550cf;
  color: #ffffff;
  text-align: center;
}

.footer {
  padding: 15px;
  text-align: center;
  color:  #4b1566;
  font-weight: bold;
  background-color:#827986;
}






