* {
  color: rgb(30, 30, 226);
  background-color: rgb(4, 61, 44)!important;
}

h1 {
  color: rgb(125, 24, 46);
  background-color: rgb(216, 230, 91);
}

h2 {
  color: rgb(155, 196, 6);
}

p {
  color: rgb(11, 226, 234);
}